// 全屏样式
@-webkit-keyframes customFullScreen {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes customFullScreen {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.custom-fullScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw !important;
    height: 100vh !important;
    z-index: 2000;
    background-color: #fff;
    -webkit-animation: customFullScreen 0.5s forwards;
    animation: customFullScreen 0.5s forwards;
}
