button,
textarea,
input {
    overflow: visible;
    -webkit-appearance: none;
}

button,
select {
    text-transform: none;
    -webkit-appearance: none;
}

[type='reset'],
[type='submit'],
button,
html [type='button'] {
    -webkit-appearance: button;
}

[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    display: inline-block;
    vertical-align: baseline;
}

textarea {
    overflow: auto;
    resize: vertical;
}

[type='checkbox'],
[type='radio'] {
    box-sizing: border-box;
    padding: 0;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
    height: auto;
}

[type='search'] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details,
menu {
    display: block;
}

summary {
    display: list-item;
}

canvas {
    display: inline-block;
}

[hidden],
template {
    display: none;
}

* {
    -webkit-tap-highlight-color: transparent;
}

*,
:after,
:before {
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    height: 100%;
    background-color: #f2f3f5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial,
        sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #495060;
    -webkit-appearance: none;
    letter-spacing: 0;
}

article,
aside,
blockquote,
body,
button,
dd,
details,
div,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
input,
legend,
li,
menu,
nav,
ol,
p,
section,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0;
}

body p {
    margin: 0;
}

ul {
    list-style: none;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

input::-ms-clear,
input::-ms-reveal {
    display: none;
}

a {
    color: #2672ff;
    background: 0 0;
    background-image: none;
    text-decoration: none;
    outline: 0;
    cursor: pointer;
    transition: color 0.2s ease;
}

a:hover {
    color: #57a3f3;
    outline: 0;
    text-decoration: none;
}

a:active {
    color: #2b85e4;
}

a:active,
a:hover {
    outline: 0;
    text-decoration: none;
    transition: 0.1s;
}

a[disabled] {
    color: #aaa;
    cursor: not-allowed;
    pointer-events: none;
}

.clearfix:after {
    content: '';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #aaaaaa;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #aaaaaa;
}

pre {
    white-space: pre-wrap;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #aaaaaa;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #aaaaaa;
}

/* 清除自动填充时的背景颜色 */
input:-webkit-autofill,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px inset !important;
    -webkit-text-fill-color: #fff;
    background-color: transparent;
    background-image: none;
}
